/* Default styles for mobile devices */

.page-heading {
  padding-left: 2rem;
}

.leftside-bar {
  height: 100vh;
  /* border-right: 1px solid #dfdfdf; */
  grid-area: left-nav ;
  width: max-content;
}

.main-bar {
  grid-area: main-nav;
  border-left: 5px solid #dfdfdf;
}

.rightside-bar {
  grid-area: right-nav;
}

.App {
  display: grid;
  grid-template-areas:
    "main-nav"
    "main-nav"
    "main-nav";
}

/* Styles for tablets (portrait) and up */
@media (min-width: 768px) {
  .page-heading {
    padding-left: 2rem;
  }

  .leftside-bar {
    height: 100vh;
    /* border-right: 5px solid #dfdfdf; */
    padding: 0px 3rem 0px 3rem;
    width: max-content;
  }

  .main-bar {
    border-left: 5px solid #dfdfdf;
  }

  .App {
    display: grid;
    grid-template-areas:
      "left-nav  main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav "
      "left-nav  main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav "
      "left-nav  main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav ";
  }
}

/* Styles for laptops and up */
@media screen and (min-width: 1024px) {
  .page-heading {
    padding-left: 2rem;
  }

  .App {
    display: grid;
    grid-template-areas:
      "left-nav  main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav "
      "left-nav  main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav "
      "left-nav  main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav main-nav ";
  }

  .main-bar {
    border-left: 5px solid #dfdfdf;
  }

  .leftside-bar {
    height: 100vh;
    /* border-right: 5px solid #dfdfdf; */
    padding: 0px 3rem 0px 3rem;
    width: max-content;
  }

  .rightside-bar {
    width: 25%;
  }
}
